<nav style="--bs-breadcrumb-divider: '>>"; aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/aluno">Aluno</a></li>
    <li class="breadcrumb-item"><a href="/aluno">Detalhes do aluno</a></li>
    {{!-- <li class="breadcrumb-item active" aria-current="page">Detalhes do aluno</li> --}}
  </ol>
</nav>