<h1>{{<title>}}</title>
</h1>

<form action="">

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nome</label>
        <input type="text" class="form-control" value="{{aluno.nome}}" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Matricula</label>
        <input type="text" class="form-control" value="{{aluno.matricula}}" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Data de nascimento</label>
        <input type="text" class="form-control" value="{{aluno.data_nascimento}}" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Endereço de E-mail</label>
        <input type="text" class="form-control" value="{{aluno.email}}" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    
    <input type="submit" name="submit" id="submit" value="Criar aluno">

</for>